<mat-card class="cake-card">
  <img mat-card-image src="../../assets/images/{{cakee.image}}.jpg" id="bigimg">
  <mat-card-header>
    <mat-card-title>{{cakee.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>{{cakee.rating}}<img src="../../assets/images/rating.jpg"></mat-card-subtitle>
    <mat-card-subtitle>Rs. {{cakee.price}}/-</mat-card-subtitle>
    <mat-card-subtitle>Earliest Delivery: Today</mat-card-subtitle>
    <mat-card-subtitle>{{cakee.reviews}} Reviews</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon routerLink="cake-cart/{{cakee.id}}" class="cart-icon" matTooltip="add to cart" color="primary">shopping_cart</mat-icon>
  </mat-card-actions>  
</mat-card>
