#forflex{
    display: flex;
}
div{
    padding-top: 27px;
    padding-left: 50px;
}
input{
    border-radius: 5px;
    height: 25px;
}
button{
    cursor: pointer;
    height: 55px;
    width: 55px;
    background-color: #FCC8D1;
    border: none;
}
